FRONTEND_URL=http://localhost:5173

PORT=5000

MONGODB_URI=your_mongodb_connection_string

JWT_ACCESS_SECRET=your_access_secret
JWT_ACCESS_EXPIRY=15m

JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRY=7d

BREVO_API_KEY=your_brevo_api_key
EMAIL_FROM=your_verified_email
EMAIL_FROM_NAME=FeatureHub

CLIENT_URL=http://localhost:5173

